.App {
  text-align: center;
  margin-top: 15px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-thumbnail {
  background: url('./img/background.jpg') no-repeat;
  background-size: 30px; /** moved this property down */
  float: left;
  height: 50px;
  width: 30px;
}

.big-banner {
  background: url('./img/background.jpg')no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 100% 100%;
  position: relative;
}


