.App {
  text-align: center;
  margin-top: 15px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App .navbar-brand {
  font-weight: bold;
  position: fixed;
}

.App-header {
  background-color: #222;
  height: 100%;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.workspace{
  color: white;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image-thumbnail {
  background: url('./img/background.jpg') no-repeat;
  background-size: 30px;
  float: left;
  height: 50px;
  width: 30px;
}

.big-banner {
  background: url('./img/background.jpg')no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: fixed;
}

.Home .lander {
    text-align: center;
    position: relative;
}

.Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: white;
}

.Home .lander p {
    color: #b4cbd9;
}

.row{
  background-color: #fcc93d;
  color: black;
  margin: 45px auto;
  border: 3px solid #ddd;
  border-radius: 15px;
  padding: 10px;
    opacity: 0.6;
}

.form{
  background-color: #fcc93d;
  width: 70%;
  color: black;
  margin: 45px auto;
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  opacity: 0.7;
}

.heading{
  color: white;
  font-family: "Courier New";
  text-align: center;
}

#welcome{
  color: white;
  font-family: "Courier New";
  text-align: center;
}

#list{
  background-color: white;
  opacity: 0.6;
  width: 55%;
  padding:10px ;
  margin: auto;
}

td{
  padding: 8px;
  color: #193f4f;
  opacity: 0.7;
}
th{
  background-color: #dfe5e8;
    color: #1e4b61;
    text-align: center;
}

.header-profile{
  width: 100%;
  max-Width: 400px;
  background: crimson;
  margin: 20px auto;
  border-radius: 50px 50px;;
  border-color: #ddd ;

  padding: 10px;
  color: white;
  font-family: "Courier New";
  text-align: center;
}

.table{
  display: inline-block;
  position: absolute;
  float: left;
  text-align: left;
  margin-left: 45px;
  overflow-x:auto;
}
.prev{
  display: inline-block;
  float: inherit;
  position: absolute;
}
.hightlight{
  border: 5px solid green;
}
